body {
    background-color: aquamarine;
}

h1 {
    text-align: center;
}

.style {
    display: flex;
    justify-content: center;
}

.spacing {
    display: flex;
}

#spacing, #blur, #color {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.text {
    margin-right: 20px;
    font-size: 35px;
}

#image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    filter: blur(3px);
}

img {
    height: 500px;
    border: 15px solid #ad3286;
}